.container {
    max-width: 600px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
  }

  .progress {
    margin-bottom: 20px;
  }


  label{
     color: cadetblue;
  }

  .step-container h3 {
    margin-top: 0;
  }

  .step-container.active {
    display: block;
  }
button{
  margin-top: 20px;
}

