<table class="table table-striped table-bordered">
    <thead class="bg-light">
      <tr>
        <th>Index</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Maritial Status</th>
        <th>Pancard</th>
        <th>Age</th>
        <th>Mobile NO</th>
        <th>Income</th>
        <th>Loan Ammount</th>
        <th>Eduction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enqury of enquiries let i=index">
         <td>{{i+1}}</td>
         <td>{{enqury.firstName}}</td>
         <td>{{enqury.lastName}}</td>
         <td>{{enqury.email}}</td>
         <td>{{enqury.marrtialStatus}}</td>
         <td>{{enqury.pancardNo}}</td>
         <td>{{enqury.age}}</td>
         <td>{{enqury.mobileNo}}</td>
         <td>{{enqury.income}}</td>
         <td>{{enqury.loanAmmount}}</td>
         <td>{{enqury.education.higherEducation}}</td>
      </tr>
</table>
