<table class="table align-middle mb-0 bg-white mx-auto mt-5 text-dark">
  <thead class="bg-light">
    <tr>
      <th>Index</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Pancard</th>
      <th>Age</th>
      <th>Income</th>
      <th>Loan Ammount</th>
      <th>CibilCheck</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let enquiry of enquiries; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ enquiry.firstName }}</td>
      <td>{{ enquiry.lastName }}</td>
      <td>{{ enquiry.email }}</td>
      <td>{{ enquiry.pancardNo }}</td>
      <td>{{ enquiry.age }}</td>
      <td>{{ enquiry.income }}</td>
      <td>{{ enquiry.loanAmmount }}</td>
      <td *ngIf="enquiry.cibilEnquiry==null, else cibilscore">
         <a (click)="checkCibil(enquiry)"><i class="fa-regular fa-circle-dot"></i></a></td>
         <ng-template #cibilscore>
          <td [ngStyle]="{'color':getScoreColor(enquiry.cibilEnquiry.cbillScore)}">{{enquiry.cibilEnquiry.cbillScore}}</td>
        </ng-template>
        <td *ngIf="enquiry.cibilEnquiry!==null"><Button class="btn btn-info">Remark</Button>
      </tr>
  </tbody>