<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar js-sticky-header site-navbar-target bg-transparent" role="banner">

    <div class="container">
      <div class="d-flex  justify-content-evenly align-items-center w-100  text-right\">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="#" class="h2 mb-0" style="text-decoration: none;">Dream Home</a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu d-lg-block navbar-nav text-right justify-content-end">
              <li class="nav-item">
                <a href="#home-section" class="nav-link">Home</a>
              </li>
              <li class="nav-item has-children">
                <a href="#about-section" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="#blog-section" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a href="#emical-section" class="nav-link">EMI Calculator</a>
              </li>
              <li class="nav-item">
                <a routerLink="enquiry" class="nav-link">Enquiry</a>
              </li>
              <li class="nav-item">
                <a routerLink="login" class="nav-link">Login</a>
              </li>
            </ul>
          </nav>
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
            class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>
  </header>



  <div class="site-blocks-cover overlay" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">


        <div class="router">
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-10 mt-lg-5 text-center">
          <div class="single-text owl-carousel">
            <div class="slide">
              <h1 class="text-uppercase">Banking Solutions</h1>
              <p class="mb-5 desc" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
              </div>
            </div>

            <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Financing Solutions</h1>
              <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
              </div>
            </div>

            <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Savings Accounts</h1>
              <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <a href="#next" class="mouse smoothscroll">
      <span class="mouse-icon">
        <span class="mouse-wheel"></span>
      </span>
    </a>
  </div>


  <div class="site-section cta-big-image" id="about-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
          <h2> Dram Home Finance Limited</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100"> is registered with National Housing Bank (NHB) and is
            amongst the leading new age Housing Finance Companies in India having its presence across 12 states in
            Western, North-Central and Southern India.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
            <img src="assets/banner-slider1.jpg" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

          <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

          <p>Advances in technology have resulted in so many benefits – one needn’t step out to buy groceries or post a
            letter; you needn’t visit your bank to get your bank statement or passbook updated, you can make your
            utility bill payments online, and so on. Here is another key convenience that you can avail of – Apply for
            Home Loan Online. Home loan providers have now facilitated making Home Loan application through their
            website on a secure platform. Lenders such as HDFC Home Loans provide an end-to-end online process for loan
            approval. You needn’t step out to visit a branch of the home loan provider to make your Home Loan
            application. So, should you apply for a Home Loan Online or use the traditional method of visiting the home
            loan provider’s office (i.e. offline)? Let’s compare the online route and the offline route and find out
            what each of them entail.</p>


        </div>
      </div>

    </div>
  </div>
  <section class="site-section">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">

        <app-emicalculator></app-emicalculator>
      </div>
    </div>
  </section>



  <section class="site-section" id="about-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
            <img src="assets\hero_2 copy.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">


          <div class="row">



            <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                <div>
                  <h3>Bank Loan</h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
                  <p class="mb-0"><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                <div>
                  <h3>Banking Consulation </h3>
                  <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  </p>
                  <p class="mb-0"><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>
  </section>






  <section class="site-section" id="blog-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Our Blog</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="h-entry">
            <a href="single.html">
              <img src="assets\The benefits of applying for a home loan in present times.jpeg" alt="Image"
                class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">THE BENEFITS OF APPLYING FOR A HOME LOAN IN PRESENT TIMES</a></h2>
            <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span
                class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>‘Home’ brings to mind comfort, joy, pride and family time. Every homeowner will tell you that her home
              gives her a sense of identity and its ownership is sacrosanct; this is one asset she would never trade for
              anything in the world.
              To experience this sense of ownership, pride and joy, now would be a good time to plan your home purchase.
              Becoming a homeowner needn’t be hard on your pocket. You can Apply for Home Loan and bring alive your
              dream
              of owning a home. There are numerous benefits of availing a home loan; you get tax benefits on interest
              paid
              and loan amount repaid; with a Home Loan Apply to achieve homeownership today instead of in future; the
              home
              loan provider assists you in terms of assessing the builder’s credibility and track record and the legal
              documents pertaining to the building.
              In addition to these benefits, there are 3 key benefits of becoming a homeowner in present times:
            </p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="h-entry">
            <a href="single.html">
              <img src="assets\how-to apply for a home loan-online.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">HOW TO APPLY FOR HOME LOAN ONLINE?</a></h2>
            <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span
                class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>Using the online route to make your purchases, make payments, do your banking and other tasks is
              convenient, time-saving and easy. This also applies to online home loans. Instead of visiting the office
              of
              the loan provider along with the necessary documents and spending precious time in the commute, it makes
              sense to simply apply for home loan online. While most people are convinced about the advantages of making
              home loan application online, they are unsure about how to go about it. They hesitate because they believe
              it would be difficult to do and they could possibly make mistakes. The truth is - applying for home loan
              online is super simple and convenient.

              Let’s discuss how to apply for home loan online. Here is a step-by-step process for you to follow:

            </p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>
        <div class="col-md-4 cocl-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="h-entry">
            <a href="single.html">
              <img src="assets\5 mistakes to avoid while taking a Loan Against Property.jpeg" alt="Image"
                class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">
                5 MISTAKES TO AVOID WHILE TAKING A LOAN AGAINST PROPERTY</a></h2>
            <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span
                class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>All of us could face cash flow challenges at some point in life – some may need cash for personal use
              while
              others could need funds for their business. In such times, it could be worthwhile to opt for a loan
              against
              property as it can give you higher borrowing capacity compared to any unsecured loans such as personal
              loans. Have you ever wondered what is loan against property, how it works and what to avoid while opting
              for
              one? Read on to find out…</p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>

      </div>
    </div>
  </section>




  <section class="site-section bg-light mb-5" id="contact-section" data-aos="fade">
    <div class="container">
      <app-enquiry-form></app-enquiry-form>
    </div>
  </section>


  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum
                autem.
                Amet aliquid nesciunt veritatis aliquam.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                <li><a href="#services-section" class="smoothscroll">Services</a></li>
                <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-social">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent"
                placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

          </div>
        </div>

      </div>
    </div>
  </footer>