<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Loan No</th>
          <th>Ledger Id</th>
          <th>EMI</th>
          <th>Loan Amount</th>
          <th>Payable Amount with Interest</th>
          <th>Amount Paid Till Date</th>
          <th>Current Month EMI Status</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">
      
          <td>{{c.customerName | uppercase}}</td>
          <td>{{c.currentloandetails.currentloanNo}}</td>
          <td>{{c.ledger.ledgerId}}</td>
          <td>{{c.currentloandetails.emidetails.emiAmountMonthly}}</td>
          <td>{{c.loandisbursement.totalAmount}}</td>
          <td>{{c.ledger.payableAmountwithInterest}}</td>
          <td>{{c.ledger.amountPaidtillDate }}</td>
          <td>{{c.ledger.currentMonthEmiStatus}}</td>
        
        </tr>
      </tbody>
    </table>
  </div>
  
  
