<nav class="navbar  navbar-expand-md custom-navbar navbar-dark">
  <i class="fa-regular fa-user fa-lg me-3 text-info"></i>
    <span class="ml-3">{{menues.body.role | transformName}}</span>
       <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon "></span>
       </button>
         <div class="collapse navbar-collapse " id="collapsibleNavbar">
             <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                 <a class="nav-link" href="#offer"><b><i class="fa-regular fa-bell"></i></b></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#"><b><i class="fa-solid fa-arrow-right-from-bracket "></i><br></b></a>
               </li>
             </ul>
         </div>
</nav>
