<nav class="navbar  navbar-expand-md custom-navbar navbar-dark">
    <img class="navbar-brand" src="src\assets\3135715.png" id="logo_custom"  alt="logo">
    <span>Representative</span>
       <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon "></span>
       </button>
         <div class="collapse navbar-collapse " id="collapsibleNavbar">
             <ul class="navbar-nav ml-auto ">
               <li class="nav-item">
                 <a class="nav-link" href="#offer"><b>Our Offer</b></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#"><b>Log Out</b></a>
               </li>
             </ul>
         </div>
</nav>