h2 {
  font-family: "Montserrat", Arial, sans-serif;
  /* Add any other desired styling */
  color: rgb(58, 49, 49);
  background-color: #ffa44f;
  text-align: center;
  text-transform: uppercase;
  text-size-adjust: initial;
}
.btn-primary {
  background-color: #597600; /* Set primary button background color */
  color: #FFFFFF; /* Set primary button text color */
  /* Add any other desired styling */
}
.btn {
 /* Set primary button hover background color */
  color: #180d0d; /* Set primary button hover text color */
  /* Add any other desired hover animation */
}
.container {
  max-width: 600px;
  margin: 5px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;

}
.progress {
  margin-bottom: 20px;
}

.step-container h3 {
  margin-top: 0;
}
.step-container.active {
  display: block;
}
.btn{
  background-color: #ffa44f;
  color: #ffffff;
  margin-top: 20px;
}
