<div class="container ">
    <div class="progress">
        <div class="progress-bar" [style.width.%]="progressPercentage" role="progressbar"
            [attr.aria-valuenow]="progressPercentage" aria-valuemin="0" aria-valuemax="100">{{ currentStep }} of 3
        </div>
    </div>
    <form [formGroup]="loanapplicationform"  (ngSubmit)="submitForm()" >
        <h3 class="h2 text-center text-success">Loan Application Form</h3>
        <div class="step-container" *ngIf="currentStep == 1">
            <!-- Search:<input type="text" [(ngModel)]="search" (input)="filterNames()"> -->
            <ul>
                <li *ngFor="let name of filteredNames">{{ name }}</li>
            </ul>
            <div formGroupName="enq" >
                <div>
                    <h3 class="text-info mb-3 mt-3 text-success text-center">Personal Information</h3>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName">
                        </div>
                        <div class="col-sm-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" formControlName="age">
                        </div>
                        <div class="col-sm-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="mobileNo">Mobile Number</label>
                            <input type="tel" class="form-control" id="mobileNo" formControlName="mobileNo">
                        </div>
                        <div class="col-sm-6">
                            <label for="pancardNo">PAN Card Number</label>
                            <input type="text" class="form-control" id="pancardNo" formControlName="pancardNo">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="maritalStatus">Marital Status</label>
                    <select class="form-control" id="maritalStatus" formControlName="marrtialStatus">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                        <option value="widowed">Widowed</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="income">Income</label>
                        <input type="number" class="form-control" id="income" formControlName="income">
                    </div>
                    <div class="col-sm-6">
                        <label for="loanAmount">Loan Amount</label>
                        <input type="number" class="form-control" id="loanAmount" formControlName="loanAmmount">
                    </div>
                </div>
                <div class="form-group" formGroupName="education">
                    <label for="education">Education</label>
                    <input type="text" class="form-control" id="education" formControlName="higherEducation">
                </div>
            </div>

            <div class="form-group row">

                <div formGroupName="cibilEnquiry">
                    <div class="form-group row">


                        <div class="form-group"  class="col-sm-6">
                            <label for="cbillScore">Cibile Score</label>
                            <input type="number" class="form-control" id="cbillScore" formControlName="cbillScore">
                        </div>
                       
    
                        <div class="form-group" class="col-sm-6" >
                            <label for="remark">Remark</label>
                            <input type="text" class="form-control" id="remark" formControlName="remark">
                        </div>
                    </div>


                </div>


            </div>

        </div>
        <div class="step-container" *ngIf="currentStep == 2">
            <div class="container">
                <h3 class="text-info mb-3 mt-3 text-success text-center">Personal Documents Form</h3>

                <div class="form-group">
                    <label class="form-label" for="addressProof">Address Proof</label>
                    <input type="file" (change)="onAddressProof($event)" class="form-control form-control-sm"
                        id="addressProof" required>
                    <!-- <img [src]="showPass" height="150px"> -->
                </div>
                <div class="form-group">
                    <label class="form-label" for="pancard">PAN Card</label>
                    <input type="file" (change)="onPanCard($event)" class="form-control form-control-sm" id="pancard"
                        required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="incomeTax">Income Tax Documents</label>
                    <input type="file" (change)="onIncomeTaxDocument($event)" class="form-control form-control-sm"
                        id="incomeTax" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="aadharCard">Aadhar Card</label>
                    <input type="file" (change)="onAadharCard($event)" class="form-control form-control-sm"
                        id="aadharCard" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="photo">Passport Size Photo</label>
                    <input type="file" (change)="onPhoto($event)" class="form-control form-control-sm" id="photo"
                        required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="salarySlip">Salary Slip</label>
                    <input type="file" (change)="onSalarySlip($event)" class="form-control form-control-sm"
                        id="salarySlip" required>
                </div>

            </div>
        </div>
        <div class="step-container" *ngIf="currentStep == 3">
            <div class="form-group">
                <label class="form-label" for="buildingPermission">Building Permission</label>
                <input type="file" (change)="onBuildingPermission($event)" class="form-control form-control-sm"
                    id="buildingPermission" accept="image/*" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="layout">Layout</label>
                <input type="file" (change)="onLayout($event)" class="form-control form-control-sm" id="layout"
                    accept="image/*" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="buildingPlan">Building Plan</label>
                <input type="file" (change)="onBuildingPlan($event)" class="form-control form-control-sm"
                    id="buildingPlan" accept="image/*" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="estimate">Estimate</label>
                <input type="file" (change)="onEsimate($event)" class="form-control form-control-sm" id="estimate"
                    accept="image/*" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="noc">NOC</label>
                <input type="file" (change)="onNoc($event)" class="form-control form-control-sm" id="noc"
                    accept="image/*" required>
            </div>
        </div>
        <button type="button" class="btn btn-outline-warning previous-button" *ngIf="currentStep != 1"
            (click)="previous()">Previous</button>
        <button type="button" class="btn btn-outline-info next-button ms-2"  *ngIf="currentStep != 3" (click)="next()">Next</button>
        <button type="submit" class="btn btn-outline-success submit-button" style="margin-left: 10px;" *ngIf="currentStep == 3">Submit</button>
        
    </form>
</div>
