<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col" >Email</th>
        <th scope="col">Pancard</th>
        <th scope="col">Loan Ammount</th>
        <th scope="col">Tenure</th>
        <th>CalculateEmi</th>
        <th scope="cpl">sanction Letter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of documents, let i=index">
        <td>{{i+1}}</td>
        <td>{{doc.enq.firstName}}</td>
        <td>{{doc.enq.lastName}}</td>
        <td>{{doc.enq.email}}</td>
        <td>{{doc.enq.pancardNo}}</td>
        <td>{{doc.enq.loanAmmount}}</td>
        <td>{{doc.enq.tenure}}</td>
        <td><button class="btn btn-success" (click)="calculateEmi(doc)" >EMI</button></td>
        <td *ngIf="doc.creditManeger==null else gerrated"><button class="btn btn-warning" (click)="getSanctionLettter(doc)">Genrate</button></td>
        <ng-template #gerrated> <td>
              <label>Genrated</label>
        </td> </ng-template>
      </tr>
    </tbody>
  </table>