#main{
    height: 100vh;
}
.fa-solid{
    color:rgb(238, 216, 216)
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    color: #f7efef;
    background-color: #60a0e4;
  }
  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgb(65, 119, 165);
  }

  .offcanvas{
   background-color: #AEC2B6;
  }