td{
    word-wrap:break-word
}

.table {
    margin: 0 auto; /* Center alignment */
    width: 80%; /* Adjust width as needed */
    margin-left: 50px;
  }

  .table thead th {
    background-color: lightblue; /* Change heading background color */
    color: rgb(32, 19, 19); /* Change heading text color */
  }

  a{
    cursor: pointer;
  }