.container {

  margin-top: 100px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 30px;
  width: 900px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  background-color: #e9ecef;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  background-color: #007bff;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-control:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
  color: red;
  display: none;
  margin-top: 5px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 576px) {
  .container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .form-control {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
    margin-left: 25px;
  }
}
